<div class="flex items-center justify-center h-screen bg-gradient-to-r from-indigo-600 to-blue-900">
  <div class="w-full max-w-md">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="shadow-lg rounded-lg px-10 pt-8 pb-10 mb-4 bg-white">
      <div class="mb-6 text-center">
        <label class="block text-gray-900 text-3xl font-bold mb-7">

        </label>
        <label class="block text-gray-900 text-lg font-bold mb-2" for="username">
          Nom d'utilisateur
        </label>
        <input type="text" name="username" id="username" class="block w-full rounded-md border-0 py-2 pl-7 pr-4 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Nom d'utilisateur" formControlName="username">
      </div>
      <div class="mb-8">
        <label class="block text-gray-900 text-lg font-bold mb-2" for="password">
          Mot de passe
        </label>
        <input id="password" type="password"  class="block w-full rounded-md border-0 py-2 pl-7 pr-4 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="******************" formControlName="password">
        <div class="text-center mt-2">
          <a href="/lien-de-reinitialisation-du-mot-de-passe" class="text-indigo-600 hover:text-indigo-800 visited:text-purple-600">
            Mot de passe oublié ?
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button type="submit" class="bg-indigo-800 hover:bg-indigo-900 text-white font-bold py-2 px-6 rounded-lg shadow-lg focus:outline-none focus:ring-2 focus:ring-indigo-600 transform transition duration-300 ease-in-out hover:scale-105 inline-flex items-center">
          Se connecter
        </button>
      </div>
    </form>
  </div>
</div>
