<app-header></app-header>
<section class="bg-gradient-to-r from-blue-500 to-indigo-800 text-white py-16 min-h-screen flex items-center justify-center">
  <div class="container mx-auto">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-6">Explorez les talents de demain dès maintenant !</h1>
    </div>
    <div class="flex justify-center space-x-4">
      <button class="bg-green-500 text-white px-6 py-3 rounded-md">Trouver des talents</button>
      <button class="bg-purple-600 text-white px-6 py-3 rounded-md" routerLink="/jobs">Découvrir des opportunités</button>
    </div>
  </div>
</section>
