<div class="flex justify-center min-h-screen bg-gradient-to-r from-indigo-500 to-blue-800 text-white p-8">
  <div class="flex flex-col md:flex-row justify-center items-center space-y-8 md:space-y-0 md:space-x-8">
    <div class="rounded-lg shadow-lg bg-indigo-600 p-6 max-w-md">

      <div class="flex items-center justify-center mb-4">
        <h2 class="text-3xl font-bold">Freelancer</h2>
      </div>
      <p class="text-center mb-4">Je recherche une mission et je veux publier mon profil</p>
      <ul class="list-disc mx-auto mb-4 max-w-xs">
        <li>Inscription gratuite</li>
        <li>Postulez facilement aux offres de mission en ligne</li>
        <li>Partagez votre profil sur les réseaux sociaux</li>
      </ul>
      <div class="flex justify-center">
        <button class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-6 rounded" routerLink="/register/candidate">
          Inscription Freelancer
        </button>
      </div>
    </div>

    <div class="rounded-lg shadow-lg bg-blue-600 p-6 max-w-md">

      <div class="flex items-center justify-center mb-4">
        <h2 class="text-3xl font-bold">Entreprise</h2>
      </div>
      <p class="text-center mb-4">Je veux publier des offres de mission et contacter des freelances</p>
      <ul class="list-disc mx-auto mb-4 max-w-xs">
        <li>Publiez vos offres de mission</li>
        <li>Consultez et sélectionnez des profils</li>
        <li>Contactez directement les freelances</li>
      </ul>
      <div class="flex justify-center">
        <button class="bg-teal-400 hover:bg-teal-300 text-white font-bold py-2 px-6 rounded" routerLink="/register/company">
          Inscription Entreprise
        </button>
      </div>
    </div>
  </div>
</div>
